<a href="/students/add" class="btn btn-success pull-right">Add New Student</a>
<div class="row">
  <div class="col-md-12">
    <h2>Students</h2>
    <hr />
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Student ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Address</th>
        <th>Expected Credential</th>
        <th>Status</th>
        <th>Program</th>
        <th>Registration Date</th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
      <tr>
        <td><a href="/student/{{id}}">{{studentID}}</a></td>
        <td>{{firstName}} {{lastName}}</td>
        <td><a href="mailto:{{email}}">{{email}}</a></td>
        <td>{{phone}}</td>
        <td>{{addressStreet}} {{addressCity}} {{addressState}} {{addressPostal}}</td>
        <td><a href="/students?credential={{expectedCredential}}">{{expectedCredential}}</a></td>
        <td><a href="/students?status={{status}}">{{status}}</a></td>
        <td><a href="/students?program={{Program}}">{{Program}}</a></td>
        <td>{{registrationDate}}</td>
          <td><a href="/students/delete/{{id}}" class="btn btn-danger">Remove</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

{{#unless students}}
<div class="col-md-12 text-center">
  <strong>{{message}}</strong>
</div>
{{/unless}}
  </div>
</div>